@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  
}
header{
  height: 100vh;
  width: 100%;
  background-position: center;
}
::selection{
  background: #a3f5ec;
}
header nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
}
.navbar{
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  align-items: center;
  justify-content: space-between;
}
  header nav .logo{
  height: 80px;
  width: 150px;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 10px;
}
nav .menu a{
  color: #2c3e50;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
nav .menu a:hover{
  color: #000;
}
.interior_13 * {
  margin-top: 100px;
  font-family: Nunito, sans-serif;
}

.interior_13 .text-blk.section-head {
  line-height: 45px;
  font-size: 36px;
  font-weight: 900;
  color: #efbe00;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.interior_13 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  font-size: 16px;
}

.interior_13 a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: inherit;
}

.interior_13 .responsive-cell-block {
  min-height: 75px;
}

.interior_13 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.interior_13 .responsive-container-block.container {
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding: 0 0 0 50px;
}

.interior_13 .img-sofa3 {
  width: 100%;
}

.interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6 {
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.interior_13 .card-content {
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  overflow: hidden;
}

.interior_13 .text-blk.sub-head {
  font-size: 22px;
  line-height: 35px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}



.interior_13 .responsive-container-block.big-container {
  position: relative;
  padding: 0 0 0 0;
}

@media (max-width: 1024px) {
  .interior_13 .submit-btn {
    height: 45px;
  }

  .interior_13 .form-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .interior_13 .input {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }

  .interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6 {
    margin: 0 0 0 0;
  }

  .interior_13 .img-sofa3 {
    width: 80%;
  }

  .interior_13 .responsive-container-block.container {
    margin: 50px auto 50px auto;
  }

  .interior_13 .orange-card {
    width: 100%;
  }

  .interior_13 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-12.wk-desk-6.img-one {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .interior_13 .responsive-container-block.container {
    padding: 10px 0 10px 50px;
  }

  .interior_13 .text-blk.section-head {
    margin: 0 0 20px 0;
  }

  .interior_13 .text-blk.sub-head {
    font-size: 19px;
    line-height: 30px;
  }
}

@media (max-width: 500px) {
  .interior_13 .input {
    width: 100%;
  }

  .interior_13 .card-content {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .interior_13 .responsive-container-block.container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .interior_13 .text-blk.section-head {
    font-size: 40px;
    line-height: 55px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin: 0 0 15px 0;
  }

  .interior_13 .text-blk.sub-head {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin: 0 0 25px 0;
  }

  .interior_13 .responsive-container-block.container {
    padding: 10px 0 10px 20px;
  }

  .interior_13 .card-content {
    padding: 0 20px 0 0;
  }
}
.interior_13 .media-icons-container {
  display: flex;
  justify-content: center;
}

.interior_13.media-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.interior_13.media-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #2c3350;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.interior_13.media-icons a:hover {
  opacity: 1;
}
.interior_13 .media-icons a:last-child {
  margin-right: 0; 

}